.wrapper {
  height: 500px;
  max-width: 350px;
  background: white;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transition: box-shadow 0.5s, transform 0.5s;
  margin: 12px;
  &:hover {
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }
  .imgContainer {
    .iconContainer {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: white;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      cursor: pointer;
    }
    i {
      font-size: 16px;
      color: red;
      
    }
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
  

  .container {
    padding: 0 10px;
  }
  .starsContainer{
    color: orange;
   i{
    cursor: pointer;
   }
  }
  .price{
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
  }
  .product_name{
    margin: 8px 0;
    font-size: 16px;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    // font-family: monospace;
  }
  button{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-radius: 10px;
    padding: 16px 8px;
    
    &:hover {
      opacity: 0.8;
    }
  }
}
