.admin_table_search{
    input{
        outline: none;
        padding:2px 10px;
    }
    label{
        margin-right: 10px;
    }
}
.admin_table_bnt{
    padding: 8px 16px;
    border-radius: 5px;
  }

  